.container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    justify-content: space-between;
}


.searchBox {
    display: flex;
    border-radius: 5px;
    width: 70%;
} 
.searchBar{
    input {
        padding: 8px 6px;
        border: none;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.06));
        margin-bottom: 0.5rem;
        background-color: var(--purple-600);
        border-radius: 4px;
    }
    *::placeholder {
        color: var(--gray-100);
    }
    margin-right: 16px;
}
.optionsBox {
    margin-right: 5px;
}
.searchOptions {
    padding: 6px 6px 7px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.06));
    color: var(--gray-100);
    border: none;
    background-color: var(--purple-600);
}

.search {
    padding: 8px 16px;
    border: none;
    background-color: var(--purple-600);
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.06));
    color: var(--gray-100);
    border-radius: 4px;

}

@media(max-width:629px) { 
    .searchBar{ 
        input {
            width: 7rem;
        }
    }
}