.container { 
    max-width: 1120px;
    margin: 0 auto;
    padding: 54px 2rem 0 2rem;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blob {
    display: none;
}
.blobBottom {
    display: none;
}
.hero{
    max-width: 600px;

    > span {
        font-size: 1.5rem;
        font-weight: bold;
    }

    h1 {
        font-size: 4.5rem;
        line-height: 4.5rem;
        font-weight: 900;
        margin-top: 2.5rem;
        color: var(--white);

        span {
            color: var(--cyan-500)
        }
    }

    p {
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin-top: 1.5rem;
        color: var(--white);

        span {
            color: var(--cyan-500);
            font-weight: bold;
        }
    }

    a {
        margin-top: 2.5rem;
    }
}

.loginButton{

    width: 268px;
    height: 4rem;
    border: 0;
    border-radius: 2rem;
    background: var(--cyan-500);
    color: var(--purple-700);
    font-size: 1.25rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.8);
        color: var(--gray-900);
        text-decoration: none;
    }
}

//Mobile 
@media (max-width: 629px) {
    .avatar {
        display: none;
    }
    .hero{
        text-align: center;
        
        h1 {
            font-size: 48px;
            line-height: 56px;
        }

        p {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
    .loginButton {
        margin: auto;
    }
    .blobBottom {
        display: unset;
    }

    .blobLeft {
        position: fixed;
        bottom: -27vh;
        left: -200px;
        background-image: url('/images/blob-media.svg');
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
    }
    .blobRight {
        position: fixed;
        bottom: -27vh;
        right: -200px;
        background-image: url('/images/blob.svg');
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
    }
    .blob {
        display: unset;
        position: fixed;
        top: -30vh;
        left: 200px;
        background-image: url('/images/blob-grande.svg');
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }
}